USE [CourseProjectBase]
GO
/****** Object:  Table [dbo].[EventType]    Script Date: 29.10.2025 23:34:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EventType](
	[EventTypeId] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](25) NOT NULL,
 CONSTRAINT [PK_EeventType] PRIMARY KEY CLUSTERED 
(
	[EventTypeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ForestPlot]    Script Date: 29.10.2025 23:34:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ForestPlot](
	[PlotId] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [int] NOT NULL,
	[Compartment] [tinyint] NOT NULL,
	[Subcompartment] [tinyint] NOT NULL,
 CONSTRAINT [PK_ForestPlot] PRIMARY KEY CLUSTERED 
(
	[PlotId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Role]    Script Date: 29.10.2025 23:34:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Role](
	[RoleId] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](25) NOT NULL,
 CONSTRAINT [PK_Role] PRIMARY KEY CLUSTERED 
(
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SilvicultureEvent]    Script Date: 29.10.2025 23:34:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SilvicultureEvent](
	[EventId] [int] IDENTITY(1,1) NOT NULL,
	[PlotId] [int] NOT NULL,
	[EventTypeId] [int] NOT NULL,
	[Description] [nvarchar](250) NOT NULL,
	[TreesNumber] [int] NULL,
	[Date] [date] NOT NULL,
 CONSTRAINT [PK_SilvicultureEvent] PRIMARY KEY CLUSTERED 
(
	[EventId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TreesNumber]    Script Date: 29.10.2025 23:34:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TreesNumber](
	[PlotId] [int] NOT NULL,
	[TreeTypeId] [int] NOT NULL,
	[Amount] [int] NOT NULL,
 CONSTRAINT [PK_TreesNumber] PRIMARY KEY CLUSTERED 
(
	[PlotId] ASC,
	[TreeTypeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TreeType]    Script Date: 29.10.2025 23:34:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TreeType](
	[TreeTypeId] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](12) NOT NULL,
 CONSTRAINT [PK_TreeType] PRIMARY KEY CLUSTERED 
(
	[TreeTypeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[User]    Script Date: 29.10.2025 23:34:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[User](
	[UserId] [int] IDENTITY(1,1) NOT NULL,
	[RoleId] [int] NOT NULL,
	[Name] [nvarchar](20) NOT NULL,
	[LastName] [nvarchar](50) NOT NULL,
	[Patronymic] [nvarchar](50) NOT NULL,
	[Login] [nvarchar](20) NOT NULL,
	[PasswordHash] [nvarchar](64) NOT NULL,
 CONSTRAINT [PK_User] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[EventType] ON 

INSERT [dbo].[EventType] ([EventTypeId], [Name]) VALUES (1, N'Вырубка леса')
INSERT [dbo].[EventType] ([EventTypeId], [Name]) VALUES (2, N'Лесовосстановление')
INSERT [dbo].[EventType] ([EventTypeId], [Name]) VALUES (3, N'Воспроизводство лесов')
SET IDENTITY_INSERT [dbo].[EventType] OFF
GO
SET IDENTITY_INSERT [dbo].[ForestPlot] ON 

INSERT [dbo].[ForestPlot] ([PlotId], [UserId], [Compartment], [Subcompartment]) VALUES (1, 2, 1, 1)
SET IDENTITY_INSERT [dbo].[ForestPlot] OFF
GO
SET IDENTITY_INSERT [dbo].[Role] ON 

INSERT [dbo].[Role] ([RoleId], [Name]) VALUES (1, N'Инженер 2 категории')
INSERT [dbo].[Role] ([RoleId], [Name]) VALUES (2, N'Мастер участка')
INSERT [dbo].[Role] ([RoleId], [Name]) VALUES (3, N'Участковый лесничий')
SET IDENTITY_INSERT [dbo].[Role] OFF
GO
INSERT [dbo].[TreesNumber] ([PlotId], [TreeTypeId], [Amount]) VALUES (1, 1, 64)
INSERT [dbo].[TreesNumber] ([PlotId], [TreeTypeId], [Amount]) VALUES (1, 2, 78)
INSERT [dbo].[TreesNumber] ([PlotId], [TreeTypeId], [Amount]) VALUES (1, 4, 10)
GO
SET IDENTITY_INSERT [dbo].[TreeType] ON 

INSERT [dbo].[TreeType] ([TreeTypeId], [Name]) VALUES (1, N'Сосна')
INSERT [dbo].[TreeType] ([TreeTypeId], [Name]) VALUES (2, N'Ель')
INSERT [dbo].[TreeType] ([TreeTypeId], [Name]) VALUES (3, N'Пихта')
SET IDENTITY_INSERT [dbo].[TreeType] OFF
GO
SET IDENTITY_INSERT [dbo].[User] ON 

INSERT [dbo].[User] ([UserId], [RoleId], [Name], [LastName], [Patronymic], [Login], [PasswordHash]) VALUES (1, 4, N'Денис', N'Дружинин', N'Альбертович', N'admin', N'8c6976e5b5410415bde908bd4dee15dfb167a9c873fc4bb8a81f6f2ab448a918')
INSERT [dbo].[User] ([UserId], [RoleId], [Name], [LastName], [Patronymic], [Login], [PasswordHash]) VALUES (2, 3, N'Максим', N'Максимов', N'Максимович', N'maksim', N'fdeff52abf16b06a3acdd3a4fdcdcb5755e354580761b6890e8352955c3e7c43')
SET IDENTITY_INSERT [dbo].[User] OFF
GO
ALTER TABLE [dbo].[ForestPlot]  WITH CHECK ADD  CONSTRAINT [FK_ForestPlot_User] FOREIGN KEY([UserId])
REFERENCES [dbo].[User] ([UserId])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[ForestPlot] CHECK CONSTRAINT [FK_ForestPlot_User]
GO
ALTER TABLE [dbo].[SilvicultureEvent]  WITH CHECK ADD  CONSTRAINT [FK_SilvicultureEvent_EeventType] FOREIGN KEY([EventTypeId])
REFERENCES [dbo].[EventType] ([EventTypeId])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[SilvicultureEvent] CHECK CONSTRAINT [FK_SilvicultureEvent_EeventType]
GO
ALTER TABLE [dbo].[SilvicultureEvent]  WITH CHECK ADD  CONSTRAINT [FK_SilvicultureEvent_ForestPlot] FOREIGN KEY([PlotId])
REFERENCES [dbo].[ForestPlot] ([PlotId])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[SilvicultureEvent] CHECK CONSTRAINT [FK_SilvicultureEvent_ForestPlot]
GO
ALTER TABLE [dbo].[TreesNumber]  WITH CHECK ADD  CONSTRAINT [FK_TreesNumber_ForestPlot] FOREIGN KEY([PlotId])
REFERENCES [dbo].[ForestPlot] ([PlotId])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[TreesNumber] CHECK CONSTRAINT [FK_TreesNumber_ForestPlot]
GO
ALTER TABLE [dbo].[TreesNumber]  WITH CHECK ADD  CONSTRAINT [FK_TreesNumber_TreeType] FOREIGN KEY([TreeTypeId])
REFERENCES [dbo].[TreeType] ([TreeTypeId])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[TreesNumber] CHECK CONSTRAINT [FK_TreesNumber_TreeType]
GO
ALTER TABLE [dbo].[User]  WITH CHECK ADD  CONSTRAINT [FK_User_Role] FOREIGN KEY([RoleId])
REFERENCES [dbo].[Role] ([RoleId])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[User] CHECK CONSTRAINT [FK_User_Role]
GO
